$def with(ctx)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/index">Project Name</a>
          <div class="nav-collapse collapse">
            <ul class="nva">
            </ul>
    $if ctx.userid == '-1':
        <form class="navbar-form pull-right" action="/auth/login" method=POST>
          <input class="span2" name="username" type="text" placeholder="Username">
          <input class="span2" name="password" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
          <small><a href="/auth/signup">sign up</a></small>
        </form>
    $else:
        <li class="pull-right">
        <div class="btn-group">
        <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> $ctx.username </a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
        $if ctx.superuser == 'True':
            <li><a href="/admin"><i class="icon-list-alt"></i> Admin</a></li>
        <li><a href="/home"><i class="icon-home"></i> Personal </a></li>
        <li><a href="/auth/passwd"><i class="icon-wrench"></i> Settings </a></li>
        <li><a href="/auth/logout"><i class="icon-off"></i> Logout </a></li>
        </ul>
        </div>
        </li>
</div>
</div>
</div>
</div>

<div class="container">
$:ctx
</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
