$def with(ctx)

$var username: $ctx.username

$ csrf_token = csrf()

$if len(ctx.running_servers) != 0:
    <form action="" method=POST>
    <input type=hidden name=csrf_token value="$csrf_token">
    <fieldset>
    <legend>
    <legend>My servers  <span class="label label-info">the servers that are running</span> </legend>
    </legend>
    <table class='table'>
        <tr>
            <th>server</th><th>image</th><th>flavor</th><th>ip</th><th>action</th>
        </tr>
    $for s in ctx.running_servers:
        <tr>
            <td>$s.name</td>
            <td>$s.image['id']</td>
            <td>$s.flavor['id']</td>
            <td>
                $for address in s.addresses['private']:
                    $address['addr'] 
            </td>
            <td>
                <select name="s.id">
                    <option> </option>
                    <option>reboot</option>
                    <option>stop</option>
                    <option>delete</option>
                </select>
            </td>
        </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button class="btn btn-small btn-primary" type="submit">Submit</button>
    </td>
    </tr>
    </table>
    </fieldset>
    </form>

<p>
<form action="" method=POST>
<input type=hidden name=csrf_token value="$csrf_token">
<fieldset>
<legend>Apply a new server  <span class="label label-info">you could apply a new server here</span> </legend>
<table class="table">
<tr>
    <th>server name</th>
    <th>image</th>
    <th>flavor</th>
    <th>ssh key</th>
</tr>
<tr>
<td>
    <input name="server_name" type="text" placeholder="Type a server name…">
</td>
<td>
    <select name="image_name">
        <option>ubuntu </option>
        <option>redhat</option>
        <option>debian</option>
        <option>test</option>
    </select>
</td>
<td>
    <select name="flavor">
        <option>1G... </option>
        <option>2G... </option>
        <option>3G... </option>
        <option>4G... </option>
    </select></p>
</td>
<td>
    <textarea name="public_key" rows="3"></textarea>
</td>
<td>
    <button class="btn btn-small btn-primary" type="submit">Apply</button>
</td>
</tr>
</table>
</fieldset>
</form>

$if len(ctx.servers) != 0:
    <p>
    <fieldset>
    <legend>Applied servers <span class="label label-info">these servers are pending</span> </legend>
    <table class='table'>
        <tr>
            <th>server name</th><th>image</th><th>flavor</th>
        </tr>
    $for s in ctx.servers:
        <tr>
            <td>$s.server_name</td>
            <td>$s.image</td>
            <td>$s.flavor</td>
        </tr>
    </table>
    </fieldset>

