$def with(ctx)

$var username = ctx.username
$var superuser = ctx.superuser

$ csrf_token = csrf()

<span class="label label-info">$_("My floating ips")</span>
<form action="/home/add_floatingip" method=POST>
<input type=hidden name=csrf_token value="$csrf_token">
<table>
<tr>
$for float_ip in ctx.floating_ips:
    <td>
        $float_ip.ip 
        <select name="$float_ip.ip" style="width:100px;">
        <option value=''>$_("attach to")</option>
            $for s in ctx.running_servers:
                <option value='$s.id'>$s.name</option>
        </select>
     </td>
<td> <button class="btn btn-small btn-primary" type="submit">$_("Submit")</button></td>
</tr>
</table>
</form>


$if len(ctx.running_servers) != 0:
    <form action="" method=POST>
    <input type=hidden name=csrf_token value="$csrf_token">
    <fieldset>
    <legend>$_("My servers")  <span class="label label-info">$_("the servers that are running")</span> </legend>
    <table class='table'>
        <tr>
            <th>$_("server")</th><th>$_("image")</th><th>$_("flavor")</th><th>$_("ip")</th><th>$_("action")</th>
        </tr>
    $for s in ctx.running_servers:
        <tr>
            <td>$s.name</td>
            <td>$_(ctx.images_dict.get(s.image['id'], 'unmaintained image'))</td>
            <td>$_(ctx.flavors_dict.get(s.flavor['id'], 'unmaintained flavor'))</td>
            <td>
                $for ip_group, address in s.addresses.items():
                    $for ip in address:
                        $ip['addr'] 
            </td>
            <td>
                <select name="$s.id">
                    <option> </option>
                    <option value='reboot'>$_("reboot")</option>
                    <option value='delete'>$_("delete")</option>
                </select>
            </td>
        </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button class="btn btn-small btn-primary" type="submit">$_("Submit")</button>
    </td>
    </tr>
    </table>
    </fieldset>
    </form>

<p>
<form action="/home/apply" method=POST>
<input type=hidden name=csrf_token value="$csrf_token">
<fieldset>
<legend>$_("Apply a new server")  <span class="label label-info">$_("you could apply a new server here")</span> </legend>
<table class="table">
<tr>
    <th>$_("server name")</th>
    <th>$_("image")</th>
    <th>$_("flavor")</th>
    <th></th>
</tr>
<tr>
<td>
    <input name="server_name" type="text" placeholder="Type a server name…">
</td>
<td>
    <select name="image_id">
    $for image in ctx.images_dict:
        <option value='$image'> $ctx.images_dict[image] </option>
    </select>
</td>
<td>
    <select name="flavor">
    $for flavor in ctx.flavors_dict:
        <option value='$flavor'> $ctx.flavors_dict[flavor] </option>
    </select></p>
</td>
<td>
    <button class="btn btn-small btn-primary" type="submit">$_("Apply")</button>
</td>
</tr>
</table>
</fieldset>
</form>

$if len(ctx.servers) != 0:
    <p>
    <fieldset>
    <legend>$_("Applied servers") <span class="label label-info">$_("these servers are pending")</span> </legend>
    <table class='table'>
        <tr>
            <th>$_("server name")</th><th>$_("image")</th><th>$_("flavor")</th>
        </tr>
    $for s in ctx.servers:
        <tr>
            <td>$s.server_name</td>
            <td>$_(ctx.images_dict.get(s.image, 'unmaintained image'))</td>
            <td>$_(ctx.flavors_dict.get(s.flavor, 'unmaintained image'))</td>
        </tr>
    </table>
    </fieldset>

