$def with(ctx)

$var username = ctx.username
$var superuser = ctx.superuser

$ csrf_token = csrf()

$if len(ctx.running_servers) != 0:
    <form action="" method=POST>
    <input type=hidden name=csrf_token value="$csrf_token">
    <fieldset>
    <legend>My servers  <span class="label label-info">the servers that are running</span> </legend>
    <table class='table'>
        <tr>
            <th>server</th><th>image</th><th>flavor</th><th>ip</th><th>action</th>
        </tr>
    $for s in ctx.running_servers:
        <tr>
            <td>$s.name</td>
            <td>$ctx.images_dict[s.image['id']]</td>
            <td>$ctx.flavors_dict[s.flavor['id']]</td>
            <td>
                $for address in s.addresses['private']:
                    $address['addr']    
            </td>
            <td>
                <select name="$s.id">
                    <option> </option>
                    <option value='reboot'>reboot</option>
                    <option value='delete'>delete</option>
                </select>
            </td>
        </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button class="btn btn-small btn-primary" type="submit">Submit</button>
    </td>
    </tr>
    </table>
    </fieldset>
    </form>

<p>
<form action="/home/apply" method=POST>
<input type=hidden name=csrf_token value="$csrf_token">
<fieldset>
<legend>Apply a new server  <span class="label label-info">you could apply a new server here</span> </legend>
<table class="table">
<tr>
    <th>server name</th>
    <th>image</th>
    <th>flavor</th>
    <th></th>
</tr>
<tr>
<td>
    <input name="server_name" type="text" placeholder="Type a server name…">
</td>
<td>
    <select name="image_id">
    $for image in ctx.images_dict:
        <option value='$image'> $ctx.images_dict[image] </option>
    </select>
</td>
<td>
    <select name="flavor">
    $for flavor in ctx.flavors_dict:
        <option value='$flavor'> $ctx.flavors_dict[flavor] </option>
    </select></p>
</td>
<td>
    <button class="btn btn-small btn-primary" type="submit">Apply</button>
</td>
</tr>
</table>
</fieldset>
</form>

$if len(ctx.servers) != 0:
    <p>
    <fieldset>
    <legend>Applied servers <span class="label label-info">these servers are pending</span> </legend>
    <table class='table'>
        <tr>
            <th>server name</th><th>image</th><th>flavor</th>
        </tr>
    $for s in ctx.servers:
        <tr>
            <td>$s.server_name</td>
            <td>$ctx.images_dict[s.image]</td>
            <td>$ctx.flavors_dict[s.flavor]</td>
        </tr>
    </table>
    </fieldset>

