$def with(ctx)
$var username = ctx.username
$var superuser = ctx.superuser

$if ctx.has_key("msg"):
    $if ctx.error == True:
        <div class="alert alert-error">$_(ctx.msg)</div>
    $else:
        <div class="alert alert-success">$_(ctx.msg)</div>

<form class="form-signin" action=""  method=POST>
<fieldset>
<legend>$_("Change Password")</legend>
    <label>$_("old password")</label>
    <input name="old_password" type="password" placeholder="oldPassword">
    <span id="old_password_help" class="help-inline"></span>
    <label>$_("new password")</label>
    <input name="new_password" type="password" placeholder="newPassword">
    <span id="new_password_help" class="help-inline"></span>
    <label>$_("Password Confirm")</label>
    <input name="new_password_confirm" type="password" placeholder="Password confirm">
    <span id="new_password_confirm_help" class="help-inline"></span>
    <label></label>
    <button class="btn btn-large btn-primary" type="submit">$_("Update Password")</button>
</fieldset>
</form>
</div>

