$def with(ctx)
$var username = ctx.username
$var superuser = ctx.superuser

$if ctx.has_key("msg"):
    $if ctx.error == True:
        <div class="alert alert-error">$_(ctx.msg)</div>
    $else:
        <div class="alert alert-success">$_(ctx.msg)</div>

<form class="form-signin" action=""  method=POST>
<fieldset>
<legend>$_("Change Password")</legend>
    <label>$_("old password")</label>
    <input name="old_password" type="password" placeholder="oldPassword">
    <span id="old_password_help" class="help-inline"></span>
    <label>$_("new password")</label>
    <input name="new_password" type="password" placeholder="newPassword">
    <span id="new_password_help" class="help-inline"></span>
    <label>$_("Password Confirm")</label>
    <input name="new_password_confirm" type="password" placeholder="Password confirm">
    <span id="new_password_confirm_help" class="help-inline"></span>
    <label></label>
    <button class="btn btn-large btn-primary" type="submit">$_("Update Password")</button>
</fieldset>
</form>
</div>

 <script type="text/javascript">
    $$(document).ready(function(){
    var g_old_validate = false;
    var g_p_same = false;
    var g_p_len = false;

    $$("input[name='old_password']").blur(function(){
       var old_password = $$(this)[0].value;
       $$.post("passwdcheck",{old_password: old_password},function(data){
         if(data=="fail"){$$("#old_password_help").html("<font color=red>$_("old password error")</font>");}
         if(data=="ok"){g_old_validate = true;$$("#old_password_help").html("<font color=green>$_("OK")</font>");}
       });
    });

    $$("input[name='old_password']").click(function(){
         $$("#old_password_help").html("");
    });

    $$("input[name='new_password']").blur(function(){
      if ($$(this)[0].value.length<6){
        g_p_len = false;
        $$("#new_password_help").html("<font color=red>$_("At least 6 characters")</font>");}
      else g_p_len = true;
    });

    $$("input[name='new_password']").click(function(){
       $$("#new_password_help").html("");
    });

    $$("input[name='new_password']").keydown(function(){
       $$("input[name='new_password_confirm']")[0].value = "";
       $$("#new_password_confirm_help").html("");
       $$("#new_password_help").html("");
    });

    $$("input[name='new_password_confirm']").blur(function(){
      if ($$(this)[0].value != $$("input[name='new_password']")[0].value ){
        g_p_same = false;
        $$("#new_password_confirm_help").html("<font color=red>$_("It must be the same with password")</font>");}
      else g_p_same = true;
    });
    $$("input[name='new_password_confirm']").click(function(){
        $$("#new_password_confirm_help").html("");
    });
    $$("form").submit(function(){
        if (g_old_validate==true && g_p_same==true && g_p_len==true){
          return true;}else return false;
    });
    });
 </script>

