$def with(ctx)
<div class="container">
  <form action="" method=POST class="form-horizontal">
   <div class="control-group">
      <label class="control-label" for="inputUsername"><h2>$_("Sign up")</h2></label>
  </div>
  <div class="control-group error">
    <label class="control-label"></label>
      <div class="controls">
        <input type="hidden">
          $if ctx.msg:
              <span class="help-inline">$_("ERROR"): $_(ctx.msg)</span>
      </div>
  </div>
  <div id="login_name" class="control-group">
    <label class="control-label" for="inputUsername"><strong>$_("Login Name")</strong></label>
    <div class="controls">
      <input name="username" type="text" id="inputUsername" placeholder="Username" data-placement="right" data-toggle="tooltip" 
        data-original-title='$_("Please use between 6 and 20 characters which starts with an English character")'>
      <span id="help-line-name" class="help-inline"></span>
    </div>
  </div>
  <div id="email" class="control-group">
    <label class="control-label" for="inputEmail"><strong>$_("Email")</strong></label>
    <div class="controls">
      <input name="email" type="text" id="inputEmail" placeholder="Email">
      <span id="help-line-email" class="help-inline"></span>
    </div>
  </div>
  <div id="password" class="control-group">
    <label class="control-label" for="inputPassword"><strong>$_("Password")</strong></label>
    <div class="controls">
      <input name="password" type="password" id="inputPassword" placeholder="Password" data-placement="right" 
        data-toggle="tooltip" data-original-title='$_("At least 6 characters")'>
      <span id="help-line-password" class="help-inline"></span>
    </div>
  </div>
  <div id="password_confirm" class="control-group">
    <label class="control-label" for="inputConfirmPassword"><strong>$_("Password Confirm")</strong></label>
    <div class="controls">
      <input name="password_confirm" type="password" id="inputConfirmPassword" placeholder="Password">
      <span class="help-inline"></span>
    </div>
  </div>
  <div id="submit" class="control-group">
    <div class="controls">
      <button class="btn btn-large btn-primary" type="submit">$_("Sign up")</button>
    </div>
  </div>
</form>
</div>
<script type="text/javascript">
$$(document).ready(function(){
    var g_name_validate = false;
    var g_email_validate = false;
    var g_passwd_validate = false;

    $$("#inputUsername").click(function(){
      $$("#login_name").removeClass('error');
      $$("#login_name").removeClass('success');
      $$("#inputUsername").parent().children(".help-inline").html('');
    });

    $$("#inputUsername").blur(function(){
        var name_re = /^[a-zA-Z][a-zA-Z0-9_]{5,19}$$/;
        if (! $$(this)[0].value.match(name_re)){
          $$("#login_name").addClass('error');
          $$("#inputUsername").parent().children(".help-inline").html("$_('Please use between 6 and 20 characters which starts with an English character')");}
        else{
          $$("#inputUsername").parent().children(".help-inline").html('');
          var name = $$(this)[0].value;
          $$.post("membercheck",{username:name},function(data){
            if (data == "ok"){
              g_name_validate = true;
              $$("#login_name").addClass('success');
              $$("#inputUsername").parent().children(".help-inline").html("$_('OK')");}
            if (data == "exist"){
              $$("#login_name").addClass('error');
              $$("#inputUsername").parent().children(".help-inline").html("$_('username exists')");}
          })}
    });
    $$("#inputUsername").focusin(function(){
        $$('#inputUsername').tooltip('show');
    });

    $$("#inputEmail").click(function(){
      $$("#email").removeClass('error');
      $$("#email").removeClass('success');
      $$("#inputEmail").parent().children(".help-inline").html("");
    });
    $$("#inputEmail").blur(function(){
        var email_re = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$$/;
        if (! $$(this)[0].value.match(email_re)){
          $$("#email").addClass('error');
          $$("#inputEmail").parent().children(".help-inline").html("$_('It seems the email not validated')");}
        else{
          $$("#inputEmail").parent().children(".help-inline").html("");
          var email_value = $$(this)[0].value;
          $$.post("emailcheck",{email: email_value},function(data){
            if (data == "ok"){
              g_email_validate = true;
              $$("#email").addClass('success');
              $$("#inputEmail").parent().children(".help-inline").html("$_('OK')");}
             if (data == "exist"){
                $$("#email").addClass('error');
                //$$("#inputEmail").parent().children(".help-inline").html("$_('this email has been used')");}
                $$("#inputEmail").next(".help-inline").html("$_('this email has been used')");}
          })};
    });

    $$("#inputPassword").focusin(function(){
        $$('#inputPassword').tooltip('show');
    });
    $$("#inputPassword").click(function(){
      $$("#password").removeClass('error')
      $$("#inputPassword").parent().children(".help-inline").html("");
    });
    $$("#inputPassword").blur(function(){
        if ($$(this)[0].value.length<6){
          $$("#password").addClass('error');
          $$("#inputPassword").parent().children(".help-inline").html("$_('At least 6 characters')");}
        else{
          $$("#inputPassword").parent().children(".help-inline").html("");}
    });
    $$("#inputPassword").keydown(function(){
      $$("#password_confirm").removeClass('error');
      $$("#inputConfirmPassword").parent().children(".help-inline").html("");
      $$("#inputConfirmPassword")[0].value = ""
    });

    $$("#inputConfirmPassword").click(function(){
      $$("#password_confirm").removeClass('error')
      $$("#inputConfirmPassword").parent().children(".help-inline").html("");
    });
    $$("#inputConfirmPassword").blur(function(){
        if ($$(this)[0].value != $$("#inputPassword")[0].value){
          $$("#password_confirm").addClass('error');
          $$("#inputConfirmPassword").parent().children(".help-inline").html("$_('It must be the same with password')");}
        else{
          $$("#password_confirm").removeClass('error')
          $$("#inputConfirmPassword").parent().children(".help-inline").html("");}
    });
    
    $$("form.form-horizontal").submit(function(){
        g_passwd_validate = ($$("#inputPassword")[0].value.length>5) && $$("#inputConfirmPassword")[0].value == $$("#inputPassword")[0].value ;
        if(g_name_validate && g_email_validate && g_passwd_validate)
            return true;
        return false;
    });

});
</script>
